/* ========== Reset & Base Style ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Bengali', sans-serif;
}

body {
  background-color: #f9fdf9;
  color: #333;
}

/* ========== Header ========== */
header {
  background-color: #117744;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-title img {
  height: 50px;
  border-radius: 50%;
}

.logo-title h1 {
  font-size: 20px;
  color: white;
}
/*===========top right bar============*/
.top-right-bar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: #117744 ;
      color: white;
      padding: 5px 20px;
      gap: 20px;
    }

    .social-icons img {
      width: 20px;
      height: 20px;
      margin:  5px;
      cursor: pointer;
      transition: transform 0.2s;
      filter: brightness(100%) invert(0);
    }

    .social-icons img:hover {
      transform: scale(1.2);
    }
/*=============== privacy policy ===============*/
.privacy-policy { 
  padding: 1.5rem; 
  background: whitesmoke;
  border-radius: 10px; }

.privacy {
  background: #fff; 
  color: darkgreen;
  padding: 1rem; 
  text-align: center; 
  border-radius: 8px;
  box-shadow: 0 5px 8px red;
  transition: transform 0.2s ease;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Noto Sans Bengali', sans-serif; }

/* ========== Activities Section ========== */
.section {
  background: white;
  text-align: left;
  padding: 25px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 8px blue;
  transition: transform 0.2s ease;
  font-size: 18px;
  color: darkgreen;
}
.section h1 {
  font-size: 20px;
  text-align: center;
  color: red;
  direction: rtl;
  unicode-bidi: plaintext;
}

    /* ========== Footer ========== */
footer {
    background-color: white;
    color: black;
    font-family: 'Noto Sans Bengali', sans-serif;
    padding: 1.5rem 1rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6;
  }

  footer a {
    color: #006400; /* ডার্ক গ্রীন */
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: 14px;
  }

  .footer-links {
    margin-top: 0.5rem;
  }

  @media (max-width: 600px) {
    footer {
      font-size: 0.9rem;
    }
  }